<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Roslan Saidi | chips.my" />
  <meta property="og:description" content="Roslan Saidi, digging deeper into software development" />
  <meta property="og:url" content="https://chips.my/" />
  <meta property="og:site_name" content="chips.my." />
  <meta property="og:image" content="https://avatars1.githubusercontent.com/u/13043860?s=400&u=ae509c4deb1082c54cfc42990834ffaad15a214c&v=4" />
  <meta property="og:image:secure_url" content="https://avatars1.githubusercontent.com/u/13043860?s=400&u=ae509c4deb1082c54cfc42990834ffaad15a214c&v=4" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="Roslan Saidi | chips.my" />
  <meta name="twitter:title" content="Roslan Saidi, digging deeper into software development" />
  <meta name="twitter:site" content="@rootchps" />
  <meta name="twitter:image" content="https://avatars1.githubusercontent.com/u/13043860?s=400&u=ae509c4deb1082c54cfc42990834ffaad15a214c&v=4" />
  <meta name="twitter:creator" content="@rootchps" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel='canonical' href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel='alternate' type='application/rss+xml' title='{{ site.title }}' href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

  <style>
    {% capture inlineCSS %}
      {% include app.scss %}
    {% endcapture %}

    {{ inlineCSS | scssify }}
  </style>
</head>